<!-- <div class="wrapper">
    <header class="container">
        <div class="flex justify-center">
            <span class="text-4xl text-blue-900 font-bold pt-3">INDUSTRIAS MIPYMES</span>
        </div>
        <div class="mx-0 mx-auto w-7/12 mt-2">
            <ul class="nav-items flex justify-between text-sm text-gray-600 ">
                <li class="menu-links cursor-pointer"><a>Instrucción y propósito</a></li>
                <li><a>Requisitos</a></li>
                <li><a>Herramientas</a></li>
                <li><a>Preguntas frecuentes</a></li>
            </ul>
        </div>
    </header>
</div>
 -->
<div class="container mx-auto text-white">
    <div class="flex justify-center text-5xl title pt-12">
        INDUSTRIAS MIPYMES
    </div>
    <div class="flex justify-center">
        
    <nav class="w-2/5 pt-4">
        <ul class="flex justify-between text-sm">
            <li>Instrucción y propósito</li>
            <li>Requisitos</li>
            <li>Herramientas</li>
            <li>Preguntas frecuentes</li>
        </ul>
    </nav>
    </div>
</div>