<section class="py-12">
    <div class="flex justify-center">
        <span class="title pt-4">HERRAMIENTAS</span>   
    </div>
    
    <div class="flex justify-around text-white w-10/12 mx-auto text-sm mt-8">
        <div class="tool w-3/12 grid grid-cols-4 items-center px-2 py-5 rounded hover:opacity-75 cursor-pointer">
            <img class="mx-auto" src="../../../assets/link-icon.svg" alt="Link icon">
            <span class="col-span-2">Sistema Integral de Consulta para la Ejecución del Decreto 31-22</span> 
            <img class="mx-auto" src="../../../assets/right-chevron.svg" alt="Link icon">
        </div> 
        <div class="tool w-3/12 grid grid-cols-4 items-center px-2 py-5 rounded hover:opacity-75 cursor-pointer">
            <span class="mx-auto" src="" alt="Link icon"></span>
            <span class="col-span-2">Guía de implementación del decreto 31-22 para las unidades de compras</span> 
            <img class="mx-auto" src="../../../assets/download-icon.svg" alt="Link icon">
        </div> 
        <div class="tool w-3/12 grid grid-cols-4 items-center px-2 py-5 rounded hover:opacity-75 cursor-pointer">
            <img class="mx-auto" src="../../../assets/link-icon.svg" alt="Link icon">
            <span class="col-span-2">Información para la obtención del Registro de Proveedores del Estado (RPE)</span> 
            <img class="mx-auto" src="../../../assets/right-chevron.svg" alt="Link icon">
        </div> 
    </div>

    <div class="flex justify-around text-white w-10/12 mx-auto text-sm mt-8">
        <div class="tool w-3/12 grid grid-cols-4 items-center px-2 py-5 rounded hover:opacity-75 cursor-pointer">
            <img class="mx-auto" src="../../../assets/link-icon.svg" alt="Link icon">
            <span class="col-span-2">Información para la obtención de la Certificación Mipymes</span> 
            <img class="mx-auto" src="../../../assets/right-chevron.svg" alt="Link icon">
        </div> 
        <div class="tool w-3/12 grid grid-cols-4 items-center px-2 py-5 rounded hover:opacity-75 cursor-pointer">
            <span class="mx-auto" src="" alt="Link icon"></span>
            <span class="col-span-2">Información para la obtención del Registro Industrial </span> 
            <img class="mx-auto" src="../../../assets/right-chevron.svg" alt="Link icon">
        </div> 
        <div class="tool w-3/12 grid grid-cols-4 items-center px-2 py-5 rounded hover:opacity-75 cursor-pointer">
            <img class="mx-auto" src="../../../assets/link-icon.svg" alt="Link icon">
            <span class="col-span-2">Información para la obtención de certificaciones de calidad de productos</span> 
            <img class="mx-auto" src="../../../assets/right-chevron.svg" alt="Link icon">
        </div> 
    </div>
</section>