span.title {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 30px;
    font-weight: 500; 
    color: #EA0A2A;
}

.paragraph,
.label {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.paragraph {
    
    font-size: 22px;
    color: #06205C;
}

.label {
    background-color: #06205C;
    padding: 4rem 0;
}

.button {
    background: linear-gradient(85.7deg, #EC252C 46.5%, #B11F24 113.53%);
/* Shadow */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 4px;
}