<div class="flex justify-center">
    <span class="title pt-4">INSTRUCCIÓN Y PROPÓSITO</span>   
</div>

<section class="flex justify-center container m-auto mt-8">   
        <div class="w-4/12 relative">
            <img src="../../../assets/barbershop.svg" class="absolute shadow" alt="barbershop image">
            <img src="../../../assets/baker.svg" class="absolute right-0 bottom-0" alt="baker image">
        </div> 
        <div class="w-5/12 text-blue-900 text-justify pl-3 paragraph">
            Desde hace casi 20 años uno de los grandes clamores del sector productivo dominicano es que el Estado pueda comprar a las <b>mipymes industriales</b> y comprar productos dominicanos.
            <br><br>
            Respondiendo a esta necesidad, el <b>decreto 31-22</b>, emitido por el presidente <b>Luís Abinader</b> el <b>27 de enero de 2022</b>, instruye a 18 instituciones públicas cuya misión está vinculada a la protección de grupos vulnerables y al alivio de la pobreza, a que los procesos de compras que realicen para adquirir bienes relacionados a su objeto y que se produzcan en territorio dominicano, sean destinados exclusivamente a micro, pequeñas y medianas industrias, siempre que estas tengan capacidad y calidad para suministrarlos.
            <br><br>
            Este decreto fomenta a través del mecanismo de las compras públicas a que las mipymes industriales puedan elevar sus niveles de productividad, calidad y competitividad y así generar más y mejores empleos. Asimismo, promueve que las instituciones públicas adquieran productos fabricados en <b>República Dominicana.</b>
        </div> 
</section>